body{
    background-color: #efefe2;
}

@font-face {
    font-family: ClearSans;
    src: url(fonts/ClearSans-Regular.ttf);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 24px 0 24px;
}

.main__img img{
    width: 100%;
}

h1{
    font-size: 32px;
     font-family: 'Roboto', sans-serif;
    color: rgb(208, 202, 158);
    font-weight: bold;
    line-height: 1.125;
}

h3{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: rgb(38, 36, 35);
    line-height: 1.115;
}

.main__text__post{
    margin: 10px;
}

.main__text__post p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(38, 36, 35);
    line-height: 1.313;
}



@media (min-width: 1100px){
    
    .main{
        flex-direction: row;
    }
    .main__text__postarea{
        display: flex;
        flex-direction: row;
    }

    .main__text{
        width: 66%;
    }

}